{% ckan_extends %}

{# You could remove 'free extras' from the package form like this, but we keep them for this example's tests.
  {% block custom_fields %}
  {% endblock %}
#}

{% block package_metadata_fields %}

  <div class="form-group">
    <label class="control-label" for="field-document_type">{{ _("Document type") }}</label>
    <div class="controls">
      <select id="field-document_type" name="document_type" data-module="autocomplete">
        {% if h.document_types() %}
          <option value="">{{ _("Not specified") }}</option>
          {% for document_type in h.document_types()  %}
            <option value="{{ document_type }}" {% if document_type in data.get('document_type', []) %}selected="selected"{% endif %}>{{ document_type }}</option>
          {% endfor %}
        {% else %}
          <option value="" disabled="disabled">{{ _("document_types vocabulary not found") }}</option>
        {% endif %}
      </select>
    </div>
  </div>

  {{ super() }}

{% endblock %}
