{% ckan_extends %}

{% block custom_fields %}
<!-- free extra hidden -->
{% endblock %}

{% block package_metadata_fields %}

  <div class="form-group">
    <label class="control-label" for="field-theme">{{ _("Theme") }}</label>
    <div class="controls">
      <select id="field-theme" name="theme" data-module="autocomplete">
        {% if h.themes() %}
          <option value="">{{ _("Not specified") }}</option>
          {% for theme in h.themes()  %}
            <option value="{{ theme }}" {% if theme in data.get('theme', []) %}selected="selected"{% endif %}>{{ theme }}</option>
          {% endfor %}
        {% else %}
          <option value="" disabled="disabled">{{ _("themes vocabulary not found") }}</option>
        {% endif %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="field-document_type">{{ _("Document type") }}</label>
    <div class="controls">
      <select id="field-document_type" name="document_type" data-module="autocomplete">
        {% if h.document_types() %}
          <option value="">{{ _("Not specified") }}</option>
          {% for document_type in h.document_types()  %}
            <option value="{{ document_type }}" {% if document_type in data.get('document_type', []) %}selected="selected"{% endif %}>{{ document_type }}</option>
          {% endfor %}
        {% else %}
          <option value="" disabled="disabled">{{ _("document_types vocabulary not found") }}</option>
        {% endif %}
      </select>
    </div>
  </div>

  {{ super() }}

{% endblock %}
