{% ckan_extends %}


{% block resource_item_explore %}
  {% if not url_is_edit %}
    <div class="btn-group">
    <a href="{{ url }}" class="btn btn-primary">
      {% if res.has_views %}
        <i class="fa fa-bar-chart-o"></i>
        {{ _('Preview') }}
      {% else %}
        <i class="fa fa-info-circle"></i>
        {{ _('More information') }}
      {% endif %}
    </a>

    {% if res.url and h.is_url(res.url) %}
      <a href="{{ res.url }}" class="btn btn-primary" target="_blank">
        {% if res.has_views or res.url_type == 'upload' %}
          <i class="fa fa-arrow-circle-o-down"></i>
          {{ _('Download') }}
        {% else %}
          <i class="fa fa-external-link"></i>
          {{ _('Go to resource') }}
        {% endif %}
      </a>
    {% endif %}
    </div>
  {% endif %}
{% endblock %}
